<div class="container" style="margin-top:30px">

    <div class="col-md-4">
    </div>    
        
    <div class="col-md-4">
        <form role="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit(dt)">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration in system</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="username" class="control-label">Username:</label>
                        <input type="text" class="form-control" formControlName="username"  title="Please enter your username" >
                        <p class="alert alert-danger" *ngIf="signUpForm.get('username').hasError('required') && signUpForm.get('username').touched">Username is required</p>
                        <p class="alert alert-danger" *ngIf="signUpForm.get('username').hasError('maxlength') && signUpForm.get('username').touched">Username must be less than 15 characters</p>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="email" class="control-label">E-mail:</label>
                        <input class="form-control" formControlName="email" title="Please enter your email" placeholder="example@gmail.com">
                        <p class="alert alert-danger" *ngIf="signUpForm.get('email').hasError('required') && signUpForm.get('email').touched">Email address is required</p>
                        <p class="alert alert-danger" *ngIf="signUpForm.get('email').hasError('email') && signUpForm.get('email').touched">You must enter a valid email address</p>
                    </div>          
                    <div formGroupName="passwords">
                        <div class="form-group form-group-sm">
                            <label for="password" class="control-label">Password:</label>
                            <input type="password" class="form-control" formControlName="password" title="Please enter your password">
                            <p class="alert alert-danger" *ngIf="signUpForm.get(['passwords','password']).hasError('required') && signUpForm.get(['passwords','password']).touched">You must enter a password</p>
                            <p class="alert alert-danger" *ngIf="signUpForm.get(['passwords','password']).hasError('minlength') && signUpForm.get(['passwords','password']).touched">Password must be at least 6 characters</p>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="confirmedPassword" class="control-label">Confirm Password:</label>
                            <input type="password" class="form-control" formControlName="confirmedPassword"  title="Please re-enter your password">
                            <p class="alert alert-danger" *ngIf="signUpForm.get(['passwords','confirmedPassword']).hasError('required') && signUpForm.get(['passwords','confirmedPassword']).touched">Password confirmation can not be empty</p>
                            <p class="alert alert-danger" *ngIf="signUpForm.get('passwords').touched && signUpForm.get('passwords').hasError('nomatch')">
                                Password does not match
                            </p>
                        </div>
                    </div>

                    </div>
                
                <div class="panel-footer">
                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!signUpForm.valid">
                        Sign up
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        Reset form
                    </button>
                </div>

            </div>
        </form>

    </div>
        
      
    
</div>
