<div class="tenant-tree-section-component">
    <p-tree [value]="tenantTree$ | async" (onNodeExpand)="loadNode($event)"></p-tree>
    {{tenantTree$ | async}}
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>
    <p>tenant-tree-section-component</p>

</div>