.navbar-brand-img{
    width: 40px;
    float: left;
}

.navbar-brand{
    height: 40px;
    font-size: 14px;
    padding: 13px 12px 4px 12px;
    &:hover { background-color: #DCDCDC }
    > font { padding: 0px 5px; }
}

.navbar-default .navbar-brand{
    color: #333;    
}
.dropdown-menu {
    padding-top: 0px;
    margin-top: 0px;
    width: 260px;
    margin-left: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid #C2C2C2;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-image: none; background-color: #F3F3F3;  }
