
            <a href="#" class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-object-ungroup"></i>
                <font> Test Company </font>                
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu tenant-dropdown-menu">
                <li class="dropdown-header">
                    <i>sign in to another tenant …</i>
                </li>
                <li><a  (click)="logout()">Company one</a></li>
                <li><a href="#">Comapny secont</a></li>
                <li><a href="#">Company third</a></li>                  
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">
                    <i>action</i>
                </li>
                <li><a href="#">Sing out of  Test Company</a></li>
                <li><a href="#">Help & feedback</a></li>
            </ul>
