/* Create a medium height at 40px */
.navbar-md {min-height:40px}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav>li>a {padding-top:10px; padding-bottom:10px}
.navbar-md .navbar-brand {height: 40px}  
.navbar-md .navbar-toggle {margin: 6px 12px 6px 0px; padding: 6px 5px; }
.navbar-md .navbar-toggle .icon-bar {width: 19px;}

.nav.navbar-right > li > a { padding: 10px 10px; }
.navbar-brand { padding: 15px 10px; color: #333333; font-size: 16px; }