
            <a href="#" class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-object-ungroup"></i>
                <font>{{tenant$ | async}}</font>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu tenant-dropdown-menu">
                <!--tenants-->
                <li class="dropdown-header"><i>sign in to another tenant …</i></li>                
                <li *ngFor="let tenant of tenantList$| async"><a (click)="refreshToken(tenant)">{{tenant}}</a></li>                               
                <li role="separator" class="divider"></li>
                <!--actions-->
                <li class="dropdown-header"><i>action</i></li>
                <li><a href="#">Sing out of  Test Company</a></li>
                <li><a href="#">Help & feedback</a></li>
            </ul>
