<div class="">

   
<div class="panel panel-default">
  <div class="panel-body">
     <button pButton type="text" label="Add member" (click)="showMemberAddDialog()">
    </button>
  </div>
</div>
    


    <members-grid-component
        [items]="members"
        [totalItems]="membersTotal"
        [pageNumber]="membersPage"
        [loading]="membersLoading"
        (onPageChanged)="onMembersPageChanged($event)"
        (onRowDelete)="onMembersItemDelete($event)">  
    </members-grid-component>


    <member-add-dialog-component>        
    </member-add-dialog-component>
</div>