<div class="">

    {{pageNumber$ | async}}
    {{membersPage$ | async}}
    <p>tenant-members</p>
    {{items}}

    {{memberGrid$ | async}}
    <members-grid-component
        [items]="entities"
        [totalItems]="membersTotal$ | async"
        [pageNumber]="membersPage$ | async"
        [loading]="membersLoading$ | async"
        (onPageChanged)="onMembersPageChanged($event)">        
    </members-grid-component>

    
    <!--{{memberGrid$ | async}}-->
    <!--{{memberGrid$ | async}}-->
</div>