<div class="">

    <div class="well" style="padding: 5px; margin-top: 10px; margin-bottom: 10px;">
        <div class="">
            <button label="Add member" pbutton="" type="text" ng-reflect-label="Add member"
                (click)="showMemberAddDialog()"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                style="font-size: 13px; ">
                <span class="ui-button-text ui-c">Add members</span>
            </button>
            <button label="Add member" pbutton="" type="text" ng-reflect-label="Add member"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                style=" font-size: 13px;">
                <span class="ui-button-text ui-c">Remove all</span>
            </button>
        </div>
    </div>


    <members-grid-component
        [items]="members"
        [totalItems]="membersTotal"
        [pageNumber]="membersPage"
        [loading]="membersLoading"
        (onPageChanged)="onMembersPageChanged($event)"
        (onRowDelete)="onMembersItemDelete($event)">  
    </members-grid-component>


    <member-add-dialog-component>
    </member-add-dialog-component>
</div>