Hello
<hr />

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>user id: @Model.UserId</h3>

<script type="text/javascript">
    window.onload = function ()
    {
        alert("Hello");
    }

</script>