<div class="members-grid-component">

members-grid


    <!--<p-dataTable [value]="memberList" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[2,5,7]">
        <p-header>Members of tenant</p-header>
        <p-column field="id" header="id"></p-column>
        <p-column field="firstName" header="first name"></p-column>
        <p-column field="lastName" header="last name"></p-column>   
    </p-dataTable>-->


    <p-dataTable    
    [value]="items"
    [lazy]="true"
    [rows]="10"
    [paginator]="true"
    [totalRecords]="totalItems"
    [loading]= "loading"
    (onLazyLoad)="onPageChanged.emit($event)">
        <p-header>List of Members</p-header>
        <p-column field="id" header="id"></p-column>
        <p-column field="fullName" header="fullName"></p-column>
        <p-column field="email" header="email"></p-column>
    </p-dataTable>
    {{items}}
</div>