<div class="tenant-manage-component">
    
    <p>tenant-manage</p>
    <p>{{tenantName}}</p>
    <p-splitButton label="Edit... " [model]="itemsManage"></p-splitButton>

    <!--<button pButton type="text" label="Edit selected tenant" (click)="showTenantEditDialog()">    
    </button>-->
    <tenant-edit-dialog-component>            
    </tenant-edit-dialog-component>

    <ul class="nav nav-pills">
        <li role="presentation" class="">
            <a routerLink="/workspace/tenant-test/settings/tenants/detail" routerLinkActive="active">Detail</a>
        </li>
        <li role="presentation">
            <a routerLink="/workspace/tenant-test/settings/tenants/members" routerLinkActive="active">Members</a>
        </li>
        <li role="presentation">
            <a routerLink="/workspace/tenant-test/settings/tenants/roles" routerLinkActive="active">Roles</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>