<div class="home-component">

    <div class="container body-content">
        <h2>Default home page</h2>
        <p>
            Competently utilize customer directed opportunities with resource maximizing value.
            Phosfluorescently provide access to end-to-end functionalities vis-a-vis one-to-one platforms.
            Credibly synergize market positioning initiatives for dynamic.
        </p>   
        <hr>

        <footer>
            <p>© 2017 - CoreManage</p>
        </footer>

    </div>
</div>