<div class="tree-section-component">
    <p>Tenant-tree-section</p>
    <tenant-modal-add-component>        
    </tenant-modal-add-component>  
    <button pButton
        type="text"        
        label="Add new tenant"
        (click)="showDialog()"
        ></button>
        
    <p-tree
        selectionMode="single"
        [value]="files"
        [contextMenu]="cm"
        (onNodeExpand)="loadNode($event)"
        (onNodeSelect)="selectNode($event)"
        [(selection)]="selectedNode"        
        >
        <ng-template let-node  pTemplate="default">            
            <p>{{node.label}} - {{node.id}} </p>
        </ng-template>
    </p-tree>
    
    <p-contextMenu #cm [model]="pContexMenuItems" >
    </p-contextMenu>

</div>