<div class="tree-section-component">
    <p>Tenant-tree-section</p>
    <p-tree
        selectionMode="single"
        [value]="files"
        [contextMenu]="cm"
        (onNodeExpand)="loadNode($event)"
        (onNodeSelect)="selectNode($event)"
        [(selection)]="selectedNode"        
        >
        <ng-template let-node  pTemplate="default">            
            <p>{{node.label}} - {{node.id}} </p>
        </ng-template>
    </p-tree>
    
    <p-contextMenu #cm [model]="pContexMenuItems" >
    </p-contextMenu> 
       
</div>