<!--<nav class="navbar navbar-default navbar-fixed-top navbar-md">
    <div class="container-fluid">       
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">                
                <li class="dropdown"><a routerLink="/workspace/tenant-test/settings/overview" routerLinkActive="active" class="dropdown-toggle">Overview</a></li>                 
            </ul>
            <ul class="nav navbar-nav">                
                <li class="dropdown"><a routerLink="/workspace/tenant-test/settings/tenants" routerLinkActive="active" class="dropdown-toggle">Tenants</a></li>                 
            </ul>
            <ul class="nav navbar-nav">                
                <li class="dropdown"><a routerLink="/workspace/tenant-test/settings/users/list" routerLinkActive="active" class="dropdown-toggle">Users</a></li>                 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
            </ul>    
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-default navbar-fixed-top navbar-sm" role="navigation" style="box-shadow: none;">
  <div class="container-fluid">       
    <div class="navbar-collapse collapse" aria-expanded="true" style="height: 1px;">
      <ul class="nav navbar-nav" style="font-size: 13px; color: #333;">
        <li class="dropdown" routerLinkActive="active">
            <a routerLink="/workspace/tenant-test/settings/overview" class="dropdown-toggle">Overview</a>
        </li>
        <li class="dropdown" routerLinkActive="active">
            <a routerLink="/workspace/tenant-test/settings/tenants" class="dropdown-toggle">Tenants</a>
        </li>
        <li class="dropdown" routerLinkActive="active">
            <a routerLink="/workspace/tenant-test/settings/users/list" class="dropdown-toggle">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>