<!--<nav class="navbar navbar-default navbar-fixed-top navbar-sm">
    <div class="container-fluid">
       
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                
            </button>
            <a href="#" class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-object-ungroup"></i>
                <font>{{tenant$ | async}}</font>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu tenant-dropdown-menu">
               
                <li class="dropdown-header"><i>sign in to another tenant …</i></li>                
                <li *ngFor="let tenant of tenantList$| async"><a (click)="refreshToken(tenant)">{{tenant}}</a></li>                               
                <li role="separator" class="divider"></li>
               
                <li class="dropdown-header"><i>action</i></li>
                <li><a href="#">Sing out of  Test Company</a></li>
                <li><a href="#">Help & feedback</a></li>
            </ul>            
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">                
                <li class="dropdown" routerLinkActive="active"><a routerLink="/workspace/tenant-test/dashboard/overview" class="dropdown-toggle">Dashboard</a></li>
                <li class="dropdown" routerLinkActive="active"><a routerLink="/workspace/tenant-test/settings"  class="dropdown-toggle">Settings</a></li>              
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                    </a>
                </li>               
                <li class="dropdown">                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-heart"></i>
                    </a>
                </li>       
                <li class="dropdown">                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle user-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <div class="user-icon">
                        </div>
                    </a>
                    <ul class="dropdown-menu user-dropdown-menu">
                        <li class="dropdown-header">actions</li>
                        <li><a  (click)="logout()">Log out</a></li>
                        <li><a href="#">My profile</a></li>
                        <li><a href="#">Notifications</a></li>                  
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">user info</li>
                        <li><a href="#">email: user.@gmail.com</a></li>
                        <li><a href="#">role: user roles</a></li>
                        <li><a href="#">------------------------------</a></li>
                        <li><a  (click)="reLogin()">Re-login Example</a></li>              
                    </ul>
                </li>                
            </ul>
        </div>
    </div>
</nav>-->
<nav class="navbar navbar-default navbar-fixed-top navbar-md" role="navigation">
    <div class="container-fluid">    
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>      
            <a href="#" class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i aria-hidden="true" class="fa fa-code" style="font-weight: bold; font-size: 18px; color: #8F8F91; padding-left: 5px;"></i>
                Core manage tenant
            </a>
            <ul class="dropdown-menu tenant-dropdown-menu">               
                <li class="dropdown-header"><i>sign in to another tenant …</i></li>                
                <li *ngFor="let tenant of tenantList$| async"><a (click)="refreshToken(tenant)">{{tenant}}</a></li>             
            </ul>  
        </div>    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        Dashboard
                        <b class="caret" style="margin-left: 5px;"></b>
                    </a>
                    <ul class="dropdown-menu" style="font-size: 13px;">
                        <li class="dropdown"><a routerLink="/workspace/tenant-test/dashboard/overview" class="dropdown-toggle">overview</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        Management
                        <b class="caret" style="margin-left: 5px;"></b></a>
                    <ul class="dropdown-menu" style="font-size: 13px;">
                        <li ><a href="#">overview</a></li>
                        <li class="dropdown"><a routerLink="/workspace/tenant-test/settings/tenants/members" class="dropdown-toggle">tenants</a></li>
                        <li class="dropdown"><a routerLink="/workspace/tenant-test/settings/users/manage" class="dropdown-toggle">users</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="margin-right: 10px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        user@gmail.com
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu user-dropdown-menu" style="font-size: 13px;">                
                        <li ><a href="#">My profile</a></li>  
                        <li ><a href="#">Help &amp; feedback</a></li>              
                        <li class="divider" role="separator"></li>
                        <li ><a href="#">username: username</a></li>
                        <li ><a href="#">role: role</a></li>
                        <li class="divider" role="separator"></li>
                        <li ><a (click)="logout()">Sign out</a></li>                 
                    </ul>
                </li>
            </ul>      
        </div>
    </div>
</nav>