
<!--<sidebar-component></sidebar-component>
<header-component></header-component>-->
<div class="hub-tenant-component">
    <split direction="horizontal" gutterSize="4">
          <split-area [size]="15">
              <p>Lorem ipsum dolor sit amet...</p>
          </split-area>
          <split-area [size]="85">
              <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
              <tenant-dialog-add-component></tenant-dialog-add-component>
              <router-outlet></router-outlet>              
          </split-area>          
      </split>    
</div>
<hub-tenant-navbar-component></hub-tenant-navbar-component>

<!--<hub-tenant-sidebar-component></hub-tenant-sidebar-component>-->