
<!--<sidebar-component></sidebar-component>
<header-component></header-component>-->
<div class="hub-tenant-component">
    <split direction="horizontal" gutterSize="4">
        <split-area [size]="15">
            <tree-section-component></tree-section-component>
        </split-area>
        <split-area [size]="85">
            <main-section-component></main-section-component>
                  
        </split-area>          
    </split>
    
</div>


<!--<hub-tenant-sidebar-component></hub-tenant-sidebar-component>-->