
<!--<sidebar-component></sidebar-component>
<header-component></header-component>-->
<div class="hub-tenant-component">
    <split direction="horizontal" gutterSize="4">
        <split-area [size]="15">
            <tenant-list-section-component></tenant-list-section-component>
        </split-area>
        <split-area [size]="85">
            <p>Sed ut perspiciatis unde omnis iste natus erro...</p>              
            <router-outlet></router-outlet>              
        </split-area>          
    </split>
</div>


<!--<hub-tenant-sidebar-component></hub-tenant-sidebar-component>-->