
<!--<sidebar-component></sidebar-component>
<header-component></header-component>-->
<div class="tenant-component">
    <split direction="horizontal" gutterSize="4">
        <split-area [size]="20">
            <tenant-tree-component></tenant-tree-component>
        </split-area>
        <split-area [size]="80">            
            <tenant-manage-component></tenant-manage-component>            
        </split-area>          
    </split>
    
</div>


<!--<hub-tenant-sidebar-component></hub-tenant-sidebar-component>-->