<!--<div class="tenant-tree-component">  
    <div>
        <button pButton type="text" label="Add new tenant" (click)="showTenantAddDialog()">
        </button>       
        <tenant-add-dialog-component>            
        </tenant-add-dialog-component>
    </div>    
    
    <div>
        <p-tree
            selectionMode="single"
            [value]="files"
            [contextMenu]="cm"
            (onNodeExpand)="loadNode($event)"
            (onNodeSelect)="selectNode($event)"
            [(selection)]="selectedNode"
            >
            <ng-template let-node  pTemplate="default">            
                <p   >{{node.label}} - {{node.id}} </p>
            </ng-template>
        </p-tree>    
        
        </p-contextMenu>
    </div>
</div>-->
<div class="tenant-tree-component">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">Tree of tenants</h3>
                        
                    </div>

                    <div class="panel-body">
                        <button pButton type="text" label="Add new tenant" (click)="showTenantAddDialog()"></button>                        
                        <p-tree
                            selectionMode="single"
                            [value]="files"
                            (onNodeExpand)="loadNode($event)"
                            (onNodeSelect)="selectNode($event)"
                            (onNodeContextMenuSelect)="selectNode($event)"
                            [(selection)]="selectedNode"
                            ui-treenode-toggler="fa-angle-right"
                            >
                            <ng-template let-node  pTemplate="default">            
                                <p >
                                    {{node.label}}
                                    <!--<p-menu #menu popup="popup" [model]="menuItems" appendTo="body"></p-menu>
                                    <button style="float: right;" type="button" pButton icon="fa fa-ellipsis-h" (click)="menu.toggle($event)">
                                       
                                    </button>-->
                                    <!--<button style="float: right;" type="button" pButton label="Remove" (click)="menu.toggle($event)">
                                       
                                    </button>-->
                                    <!--<i (contextmenu)="cm.show($event)" class="fa fa-object-group" style="float: right;"></i>-->
                                </p>                                
                            </ng-template>
                        </p-tree>
                        <p-contextMenu [target]="img"  #cm [model]="pContexMenuItems" appendTo="body" >
                        </p-contextMenu>
                    </div>
                    
                </div>    
                <tenant-add-dialog-component>            
                </tenant-add-dialog-component>
            </div>
        </div>
    </div>
</div>

<!--<p-tree
                            selectionMode="single"
                            [value]="files"
                            (onNodeExpand)="loadNode($event)"
                            (onNodeSelect)="selectNode($event)"
                            [(selection)]="selectedNode"
                            >
                            <ng-template let-node  pTemplate="default">            
                                <p>{{node.label}}</p>
                            </ng-template>
                        </p-tree>-->