<nav class="navbar navbar-default navbar-fixed-top navbar-md">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <refresh-select-tenant-component></refresh-select-tenant-component>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">                
                <li class="dropdown"><a routerLink="/workspace/tenant-test/tenant/tenants" routerLinkActive="active" class="dropdown-toggle">Tenants</a></li>                 
            </ul>
            <ul class="nav navbar-nav">                
                <li class="dropdown"><a routerLink="/workspace/tenant-test/tenant/roles" routerLinkActive="active" class="dropdown-toggle">Roles</a></li>                 
            </ul>
            <ul class="nav navbar-nav navbar-right">              
                <!--<li class="divider" style="height: 18px; margin-top: 13px; border-left: 1px solid #999; padding-right: 5px;"></li>-->
                <li class="dropdown">
                    <a (click)="showTenantDialogAdd()" class="dropdown-toggle">
                        <i class="fa fa-object-ungroup" aria-hidden="true"></i> Add new tenant
                    </a>
                </li>                        
            </ul> 
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
