<div class="section-tenant-manage-component">
    <p>section-tenant-manage</p>
    <ul class="nav nav-pills">
        <li role="presentation" class="">
            <a routerLink="/workspace/tenant-test/settings/tenants/detail" routerLinkActive="active">Detail</a>
        </li>
        <li role="presentation">
            <a routerLink="/workspace/tenant-test/settings/tenants/members" routerLinkActive="active">Members</a>
        </li>
        <li role="presentation">
            <a routerLink="/workspace/tenant-test/settings/tenants/roles" routerLinkActive="active">Roles</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>