<div class="container" style="margin-top:30px">

    <div class="col-md-4">
    </div>
    <div class="col-md-4">

        <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(dt)">
            <div class="login-panel panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="tenant">
                            Enter your company name (tenant)
                        </label>
                        <input type="text" id="tenant" class="form-control" formControlName="tenant" required=required />
                        <div *ngIf="formErrors.tenant" class="alert alert-danger">
                            {{ formErrors.tenant }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="userName">
                            Username or email
                        </label>
                        <input type="text" id="userName" class="form-control" formControlName="userName" required=required/>
                        <div *ngIf="formErrors.userName" class="alert alert-danger">
                            {{ formErrors.userName }}
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="password">
                            Password
                            <a href="/sessions/forgot_password">(forgot password)</a>
                        </label>
                        <input type="password" id="password" class="form-control" formControlName="password" required=required />
                        <div *ngIf="formErrors.password" class="alert alert-danger">
                            {{ formErrors.password }}
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" formControlName="isRemember" /> Remember me
                        </label>
                    </div>
                </div>
                
                <div class="panel-footer">
                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!loginForm.valid">
                        Sign in
                    </button>
                </div>

            </div>
        </form>

    </div>
    <div class="col-md-4">
    </div>
</div>
