<nav class="navbar navbar-default navbar-fixed-top navbar-md">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <!--<span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>-->
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </button>
            
            <a href="#" class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-object-ungroup"></i>
                <font> Test Company </font>                
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu tenant-dropdown-menu">
                <li class="dropdown-header">
                    <i>sign in to another tenant …</i>
                </li>
                <li><a  (click)="logout()">Company one</a></li>
                <li><a href="#">Comapny secont</a></li>
                <li><a href="#">Company third</a></li>                  
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">
                    <i>action</i>
                </li>
                <li><a href="#">Sing out of  Test Company</a></li>
                <li><a href="#">Help & feedback</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a routerLink="/workspace/tenant-w/dashboard" routerLinkActive="active" class="dropdown-toggle">Dashboard</a></li>
                <li class="dropdown"><a routerLink="/workspace/{{tenantpach}}/dashboard" routerLinkActive="active" class="dropdown-toggle">Dashboard</a></li>
                <li class="dropdown"><a routerLink="/tenant" routerLinkActive="active" class="dropdown-toggle">Tenants</a></li>
                <li class="dropdown"><a routerLink="/user" routerLinkActive="active" class="dropdown-toggle">All Users</a></li>              
            </ul>         
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
