<div class="">

    <div class="panel-body">
        <form role="form" [formGroup]="userCreateForm" (ngSubmit)="onSubmit()">
            <div class="form-group form-group-sm">
                <label for="email">
                    Email
                </label>
                <input type="text" id="email" class="form-control" formControlName="email" required placeholder="email">
                <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="parentId">
                    tenant
                </label>
                <div>
                    <p-dropdown [options]="tenantList" formControlName="tenantId" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!userCreateForm.valid">
                Add
            </button>
        </form>
    </div>
    {{userCreateForm.parentId | json}}
</div>