
<!--<sidebar-component></sidebar-component>
<header-component></header-component>-->
<div class="tenant-component">
    <split direction="horizontal" gutterSize="4">
        <split-area [size]="15">
            <section-tenant-tree-component></section-tenant-tree-component>
        </split-area>
        <split-area [size]="85">            
            <section-tenant-manage-component></section-tenant-manage-component>            
        </split-area>          
    </split>
    
</div>


<!--<hub-tenant-sidebar-component></hub-tenant-sidebar-component>-->