<div class="well" style="padding: 5px; margin-top: 10px; margin-bottom: 10px;">
    <div class="">
        <button label="Add member" pbutton="" type="text" ng-reflect-label="Add member"
            (click)="showDialogUserAdd()"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            style="font-size: 13px; ">
            <span class="ui-button-text ui-c">Add new</span>
        </button>
        <button label="Add member" pbutton="" type="text" ng-reflect-label="Add member"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            style=" font-size: 13px;">
            <span class="ui-button-text ui-c">Export to csv</span>
        </button>
    </div>        
</div>

<user-grid-filter-component>    
</user-grid-filter-component>

<user-grid-component
    [items]="users"
    [totalItems]="usersTotal"
    [pageNumber]="usersPage"
    [selectedItem]="selectedItem"
    [loading]="usersLoading"
    (onPageChanged)="onPageChangedUsers($event)"
    (onRowDelete)="onDeleteUserItem($event)">
</user-grid-component>

<user-add-dialog-component>    
</user-add-dialog-component>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>