/* tree */
.ui-tree{
    width: inherit;
    border: none;
}
.ui-tree p { margin: 0px; }
.ui-treenode-content .ui-tree-toggler {
    padding-top: 6px;
    float: left;
}
.ui-treenode-content .ui-treenode-label {
    display: block;
    background-image: none;    
    border-radius: 0px;
    color: #333;
    padding-left: 21px;    
    padding-right: 0px;
}
.ui-treenode-content .ui-state-highlight { background-color: #E7E7E7; }
.ui-treenode-content .ui-state-highlight > span > p { color: #333; }

.ui-tree-toggler:before {  
    opacity:0;
    transition:opacity 0.3s linear;
}

.ui-treenode-icon {
    float: left;
    padding-top: 7px;
    margin: 0 8px 0 4px;    
    font-size: 13px;
}
.ui-treenode-label > span > p {    
    line-height: 27px;
    color: #337ab7;
}
.ui-tree .ui-tree-container{ padding: 15px 0; }
.ui-tree .ui-tree-container:hover .ui-tree-toggler:before { opacity:1; }

.fa-caret-right::before{ content: "\f105"; }
.fa-caret-down::before{ content: "\f107"; }

/* dataTable */
.ui-datatable .ui-datatable-thead > tr > th,
.ui-datatable .ui-datatable-tfoot > tr > td,
.ui-datatable .ui-datatable-data > tr > td {
    border-bottom: none;     
    white-space: nowrap;
    text-overflow: ellipsis;
    /*border: none;*/
}
.ui-datatable thead th, .ui-datatable tfoot td {
    /*background-image: none;*/
    text-align: left;
    
}
.ui-widget { font-family: 'Roboto', sans-serif; }
